<ion-content
  ><form (ngSubmit)="onSubmit()">
    <ion-input type="email" placeholder="Email..."></ion-input>
    <ion-input type="password" placeholder="Password..."></ion-input>
    <ion-button type="submit">LOGIN/SIGNUP</ion-button>
  </form>
</ion-content>
