form {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  align-items: center;
}

ion-input {
  margin: 5px;
  border: 2px solid var(--ion-color-medium);
  border-radius: 4px;
  &:focus {
    border-color: var(--ion-color-primary);
  }
}

ion-input:focus {
  border-color: var(--ion-color-primary);
}
