ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-secondary);
  ion-icon {
    width: 24px;
    height: 24px;
    margin-left: 15px;
  }
}

ion-title {
  font-family: var(--font-title);
}
