<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" slot="start" src="assets/logo.svg"> </ion-icon>
    <ion-title>
      ScratchMap
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-map></app-map>
  <!-- <img class="world" src="assets/world.svg" /> -->
</ion-content>
